.Post{
    margin: 10px;
}

.PostWrapper {
    display: flex;
    align-items: center;
    border: 2px solid black;
}

.PostImg{
max-width: 100px;
max-height: 80px;
border-radius: 50px;
}

.PostLike{
padding:10px
}

.PostDISLike {
padding:10px
}