.App {
       display: grid;
       grid-template-columns: 1fr 10fr;
       grid-template-rows: 1fr 10fr;
       grid-gap: 10px;
       grid-template-areas:
          "h h"
          "c nav";
}

.Header {
   grid-area: h;
}

.NavBar {
   grid-area: nav;
}

.Content {
   grid-area: c;
}